rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // AGM All In One Executive Dashboard
    // Open read and write for the executive facility manager
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
